@import './node_modules/mapbox-gl/dist/mapbox-gl.css';

body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }

.marker-origin svg {
    width: 31px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.marker-origin svg g {
    fill: #00ff00;
}

.marker-destination svg {
    width: 31px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.marker-destination svg g {
    fill: #ff0000;
}

.route-details {
    font-size: larger;
    margin: 10px;
}

.mapboxgl-map {
    font-family: unset;
}