@import './node_modules/mapbox-gl/dist/mapbox-gl.css';
@import './node_modules/bootstrap/dist/css/bootstrap.css';

body { 
    margin: 0; 
    padding: 0; 
    font-size: 0.85rem;
}

.route-details {
    font-size: larger;
    margin: 10px;
}

.mapboxgl-map {
    font-family: unset;
}

/* mapbox customizations */

.mapboxgl-ctrl-group:not(:empty) {
    box-shadow:3px 3px 2px rgba(0,0,0,.1);
}

/* boostrap customizations */

.btn {
    font-size: unset;
}

.input {
    font-size: unset;
}

.form-control {
    font-size: unset;
}

.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: unset;
}

.form-control:-moz-focusring {
    color: unset;
    text-shadow: unset;
}

.btn-light {
    background-color: unset;
}

.btn:hover {
    color:initial;
    background-color: initial;
    border-color: initial;
}

/* layer control */

.layer-control {
    background: #0d8bd9;
    z-index: 1;
    border-radius: 3px;
    width: 120px;
    padding: 2px;
}

.layer-control a {
    border: none;
    color: #fff;
    font-size: 13px;
    background: #0d8bd9;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}


.layer-control a:hover {
    background: #1da1f2;
    color: #fff;
    border: none;
}

.layer-control a.active {
    background: #1da1f2;
    border: none;
}

.layer-control a.active:hover {
    background: #1da1f2;
    color: #fff;
    border: none;
}

#map {
    height: 100px;
}

.details-container {
    height: calc(100vh - 90px);
    background: #1da1f2;
    position: absolute;
    left: 0px;
    right:0px;
    bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.mapboxgl-ctrl-bottom-right {
    bottom: 20px;
}

.search-control {
    background: white;
    position: absolute;
    left: 20px;
    top: -10px;
    right: 20px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 2px 2px 5px;
}

.data-container {
    position: absolute;
    top: 60px;
    left: 0px;
    right: 0px;
}

.profile-btn-group {
    position: absolute;
    left: 20px;
    right: 20px;
    height: 90px;
    background: #0d8bd9;
    border-radius: 10px;
    padding: 4px;
}

.btn-profile {
    text-align: center;
    color: #fff;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    padding-top: 20px;
}

.btn-profile img {
    height: 25px;
}

.btn-profile span {
    display: block;
}

.btn-profile:hover {
    color: #fff;
    background-color: #1da1f2;
}

.btn-profile.active {
    color: #fff;
    background-color: #1da1f2;
}

.disclaimer {
    position: absolute;
    bottom: 0px;
    color: white;
}

.search-results {
    position: absolute;
    left: 20px;
    right: 20px;
    color: white;
}

.search-results-list {
    margin-top: 8px;
    background: white;
    border-radius: 10px;
    padding: 4px;
    color: black;
}

.search-results-list img {
    height: 20px;
}

.search-results-list .row {
    margin: 0;
}

.search-results-list .row:not(:last-child) {
    border-bottom: lightgray solid 1px;
}