@import './node_modules/mapbox-gl/dist/mapbox-gl.css';

.mapboxgl-ctrl-group button {
    width: initial;
    height: initial;
    padding: initial;
}


@import './node_modules/bootstrap/dist/css/bootstrap.css';

body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }

.marker-origin svg {
    width: 27px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.marker-origin svg g {
    fill: #1da1f2;
}

.marker-destination svg {
    width: 27px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.marker-destination svg g {
    fill: #1da1f2;
}

.route-details {
    font-size: larger;
    margin: 10px;
}

.mapboxgl-map {
    font-family: unset;
}

/* mapbox customizations */

.mapboxgl-ctrl-group:not(:empty) {
    box-shadow:3px 3px 2px rgba(0,0,0,.1);
}

/* boostrap customizations */

.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: unset;
}

.form-control:-moz-focusring {
    color: unset;
    text-shadow: unset;
}

.btn-light {
    background-color: unset;
}

.btn:hover {
    color:initial;
    background-color: initial;
    border-color: initial;
}

.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
    color:initial;
    background-color: initial;
    border-color: initial;
}