<div class="routing-component-mobile">
    <div class="btn-toolbar border-0" role="toolbar" aria-label="Toolbar with button groups">
        <div type="button" class="btn btn-light border-0" style="width: 49px;">
          <img src="../../../assets/img/icons/marker.svg" style="height: 25px;" />
        </div>
        <div class="input-group">
          <input type="text" class="form-control border-0" placeholder="Waar naartoe?" aria-label="Waar naartoe?"
            aria-describedby="btnGroupAddon">
          <div type="button" class="btn btn-light border-0"><img src="../../../assets/img/icons/search.svg" /></div>
        </div>
    </div>    
</div>