
<div class="btn-toolbar p-1 border-0" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group" role="group" aria-label="First group">
    <div id="routing-component-menu" type="button" class="btn btn-light border-0"><img
        src="../../assets/img/icons/menu.svg" /></div>
  </div>
  <div class="input-group">
    <input type="text" class="form-control border-0" placeholder="Waar naartoe?" aria-label="Waar naartoe?"
      aria-describedby="btnGroupAddon">
  </div>
  <div class="btn-group" role="group" aria-label="First group">
    <div id="routing-component-search" type="button" class="btn btn-light border-0"><img
      src="../../assets/img/icons/search.svg" /></div>
  </div>
</div>