<div class="card p-2">
  <select class="form-control font-weight-bold" name="profiles" id="profiles">

  </select>

  <!-- Meta -->
  <div class="row p-3 border-top border-white-20">
    <div class="col">

      <!-- Author -->
      <h6 class="text-uppercase font-weight-bold mb-0">
        Distance
      </h6>

    </div>
    <div class="col-auto">

      <!-- Date -->
      <p id="distance" class="h6 text-uppercase mb-0">
          --
      </p>

    </div>
  </div> <!-- / .row -->
</div> <!-- / .r