<div class="btn-toolbar border-0 pb-1">
  <div class="border-0" style="padding: 0.375rem 0.75rem; width: 49px;">
    <div class="mapboxgl-user-location-dot mapboxgl-marker mapboxgl-marker-anchor-center"
      style="position: unset; margin-left: 5px; margin-top: 7px; ">
    </div>
  </div>
  <div class="input-group">
    <input type="text" class="form-control border-0" placeholder="Huidige locatie" value="Huidige locatie"
      aria-label="Waar naartoe?" aria-describedby="btnGroupAddon">
    <div type="button" class="btn btn-light border-0"><img src="../../assets/img/icons/search.svg" /></div>
  </div>
</div>
<div class="btn-toolbar border-0" role="toolbar" aria-label="Toolbar with button groups">
  <div type="button" class="btn btn-light border-0" style="width: 49px;">
    <img src="../../assets/img/icons/marker.svg" style="height: 25px;" />
  </div>
  <div class="input-group">
    <input type="text" class="form-control border-0" placeholder="Waar naartoe?" aria-label="Waar naartoe?"
      aria-describedby="btnGroupAddon">
    <div type="button" class="btn btn-light border-0"><img src="../../assets/img/icons/search.svg" /></div>
  </div>
</div>