
  <div class="btn-toolbar p-1 border-0" role="toolbar" aria-label="Toolbar with button groups">
    <div class="input-group">
      <div id="routing-component-menu" type="button" class="btn btn-light border-0"><img
          src="../../assets/img/icons/menu.svg" /></div>
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <div type="button" class="btn btn-light active border-0">
          <img src="../../assets/img/icons/bicycle.svg" />
        </div>
        <div type="button" class="btn btn-light border-0">
          <img src="../../assets/img/icons/network.svg" />
        </div>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="First group">
      </div>
      <div style="width: 150px;">

      </div>
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <div type="button" class="btn btn-light border-0"><img src="../../assets/img/icons/close.svg" /></div>
      </div>
    </div>
  </div>