<div class="btn-toolbar p-1 border-0" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group" role="group" aria-label="First group">
      <div type="button" class="btn btn-profile active border-0">
        <span>
          <img src="../../assets/img/icons/bicycle.svg" />
        </span>
        <span>
          Functioneel fietsen
        </span>
      </div>
      <div type="button" class="btn btn-profile border-0">
        <span>
          <img src="../../assets/img/icons/network.svg" />
        </span>
        <span>
          Fietsnetwerken
        </span>
      </div>
    </div>
</div>