.routing-component-locations {
    font-size: 0.9rem;
    padding-left: 4px;
}

.routing-component-locations .form-control {
    font-size: 0.9rem;
    padding-left: 0px;
}

.routing-component-locations .input-group {
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #c2c2c2;
}

.mapboxgl-ctrl-group .routing-component .button {
    width: initial;
    height: initial;
    padding: initial;
}

.routing-component-locations img {
    height: 20px;
}

.location-input {
    margin-left: 5px;
}

.user-location-dot {
    background-color: #1da1f2;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.user-location-dot::before {
    background-color: #1da1f2;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: user-location-dot-pulse 2s infinite;
    -moz-animation: user-location-dot-pulse 2s infinite;
    -ms-animation: user-location-dot-pulse 2s infinite;
    animation: user-location-dot-pulse 2s infinite;
}

.user-location-dot::after {
    border-radius: 50%;
    border: 2px solid #fff;
    content: '';
    height: 14px;
    left: -2px;
    position: absolute;
    top: -2px;
    width: 14px;
    box-sizing: border-box;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
}

@-webkit-keyframes user-location-dot-pulse {
    0%   { -webkit-transform: scale(1); opacity: 1; }
    70%  { -webkit-transform: scale(3); opacity: 0; }
    100% { -webkit-transform: scale(1); opacity: 0; }
}

@-ms-keyframes user-location-dot-pulse {
    0%   { -ms-transform: scale(1); opacity: 1; }
    70%  { -ms-transform: scale(3); opacity: 0; }
    100% { -ms-transform: scale(1); opacity: 0; }
}

@keyframes user-location-dot-pulse {
    0%   { transform: scale(1); opacity: 1; }
    70%  { transform: scale(3); opacity: 0; }
    100% { transform: scale(1); opacity: 0; }
}

.marker-via-dot {
    background-color: #fff;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 3px solid #1da1f2;
    content: '';
    height: 14px;
    left: -2px;
    position: absolute;
    top: -2px;
    width: 14px;
    box-sizing: border-box;
    cursor: pointer;
}

.marker-origin svg {
    width: 27px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.marker-origin svg g {
    fill: #1da1f2;
}

.marker-destination svg {
    width: 27px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.marker-destination svg g {
    fill: #1da1f2;
}

.routing-component-locations {
    border-bottom: 1px;
}

.profiles-container {
    background-color: #0d8bd9;
    border-radius: 0px 0px 4px 4px;
}

.profiles-container .btn-group {
    width: 100%;
}

.btn-profile {
    text-align: center;
    color: #fff;
    width: 50%;
}

.btn-profile img {
    height: 25px;
}

.btn-profile span {
    display: block;
}

.btn-profile:hover {
    color: #fff;
    background-color: #1da1f2;
}

.btn-profile.active {
    color: #fff;
    background-color: #1da1f2;
}