<div class="container my-2">
    <div class="search-result row my-1">
        <div class="col-2 pl-4 py-2">
            <img src="../../assets/img/icons/marker-grey.svg" />
        </div>
        <div class="col-10 py-2 p-0">
            Snelste route 
        </div>
    </div>
    <div class="search-result row my-1">
        <div class="col-2 pl-4 py-2">
            <img src="../../assets/img/icons/marker-grey.svg" />
        </div>
        <div class="col-10 py-2 p-0">
            <div class="">Alternatieve route</div> 
        </div>
    </div>
    <div class="search-result row my-1">
        <div class="col-2 pl-4 py-2">
            <img src="../../assets/img/icons/marker-grey.svg" />
        </div>
        <div class="col-10 py-2 p-0">
            <div class="">Alternatieve route</div> 
        </div>
    </div>
    <div class="search-result row my-1">
        <div class="col-2 pl-4 py-2">
            <img src="../../assets/img/icons/marker-grey.svg" />
        </div>
        <div class="col-10 py-2 p-0">
            <div class="">Alternatieve route</div> 
        </div>
    </div>
</div>