.mapboxgl-ctrl-bottom-right {
    bottom: 20px;
}

@media (min-width: 576px) {
    .mapboxgl-ctrl-bottom-right {
        bottom: 0;
    }
}

.btn {
    font-size: unset;
}


.input {
    font-size: unset;
}

.form-control {
    font-size: unset;
}

.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: unset;
}

.form-control:-moz-focusring {
    color: unset;
    text-shadow: unset;
}

.btn-light {
    background-color: unset;
}

.btn:hover {
    color:initial;
    background-color: initial;
    border-color: initial;
}

.marker-via-dot {
    background-color: #fff;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 3px solid #1da1f2;
    content: '';
    height: 14px;
    width: 14px;
    box-sizing: border-box;
    cursor: pointer;
}

.marker-destination svg {
    width: 27px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.marker-destination svg g {
    fill: #1da1f2;
}

button.mapboxgl-ctrl-geolocate {
    display: none;
}

.location-icon {
    padding: 5px;
    width: 50px;
}