<div class="container">
    <div class="row p-4 top-bar">
        <h4>Fietsrouteplanner Oost-Vlaanderen</h4>
    </div>
    <div class="row pt-2 m-1">
        <h4>Routes</h4>
        Met deze routeplanner kan je je woon-werk of andere functionele verplaatsingen plannen langs de fietsnetwerken
        en fietsinfrastructuur in Oost-Vlaanderen. De routeplanner heeft 2 fietsprofielen:
    </div>
    <div class="row m-1">
        <div class="col-2  pt-3">
            <img src="../../assets/img/icons/bicycle.svg" />
        </div>
        <div class="col-10  pt-3">
            <h5>Functioneel fietsen</h5>
        </div>
    </div>
    <div class="row m-1">
        De snelste route tussen 2 punten rekening houdend met veiligheid en comfort.
    </div>
    <div class="row m-1">
        <div class="col-2  pt-3">
            <img src="../../assets/img/icons/network.svg" />
        </div>
        <div class="col-10  pt-3">
            <h5>Fietsnetwerken</h5>
        </div>
    </div>
    <div class="row m-1">
        Een route langs de fietssnelwegen en/of het Gentse fietsknooppunten netwerk.
    </div>
    <div class="row pt-2 m-1">
        <h4>Kaartlagen</h4>
        Op kaart toont de fietsrouteplanner een aantal lagen relevant voor fietsers. Elke laag kan af en aan gezet
        worden door gebruik van de volgende knoppen:
    </div>
    <div class="row m-1">
        <div class="col-5 px-0 pt-3">
            <a class="btn" type="button">
                <span>
                    <img src="../../assets/img/icons/network.svg">
                </span>
                <span>Fietsknooppunten Gent</span>
            </a>
        </div>
        <div class="col-6  pt-3">
            Het fietsknooppunten netwerk in Gent.
        </div>
    </div>
    <div class="row m-1">
        <div class="col-5 px-0 pt-3">
            <a class="btn" type="button">
                <span>
                    <img src="../../assets/img/icons/highway.svg">
                </span>
                <span>Fietsnelwegen</span>
            </a>
        </div>
        <div class="col-6  pt-3">
            De Vlaamse fietsnetwerken.
        </div>
    </div>

    <!-- <div class="disclaimer">
        © <a href="https://www.oost-vlaanderen.be/">Provincie Oost-Vlaanderen</a>, <a
            href="https://www.anyways.eu/">ANYWAYS BV</a>.
    </div> -->
</div>